extends layout


block contenido
	.contenido-principal
		h2 #{nombrePagina} - #{proyecto.nombre}

		//Formulario
		form.agregarTarea(action=`/proyectos/${proyecto.url}` method="POST")
			.campo
				label(for="tarea") Tarea:
				input.nombreTarea(type="text" name="tarea" placeholder="Nombre tarea")
			.campo.enviar
				input.boton.nueva-tarea(type="submit" value="Agregar")
		//Listado pendientes
		.listadoPendientes
			ul
				if tareas.length
					each tarea in tareas
						li.tarea(data-tarea = tarea.id)
							p= tarea.tarea
							.acciones
								if tarea.estado
									i.fa-regular.fa-circle-check.completo
								else
									i.fa-regular.fa-circle-check
								i.fa-solid.fa-trash-can
				else
					p No hay tareas en este proyecto

		//pre=vardump(proyecto)

		//Avance del proyecto
		.avance
			h2 Avance del proyecto
			#barraAvance.barraAvance
				#porcentaje.porcentaje

		//Acciones que se pueden realizar
		.contenedor-acciones
			a(href=`/proyectos/editar/${proyecto.id}` class="boton") Editar Proyecto
			button#eliminarProyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto